@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

 .container {
  min-width: 900px
 }


  body {
    @apply font-primary text-lg;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-dark;
  }
  .title,
  .section-title {
    @apply text-4xl lg:text-8xl mb-6 font-bold;
  }
  .logotext {
   @apply lg:text-3xl 
  }
  .h2 {
    @apply text-5xl lg:text-7xl font-bold;
  }
  .pretitle {
    @apply text-lg lg:text-[22px] text-light mb-4 lg:mb-6 uppercase font-normal;
  }
  .lead {
    @apply text-4xl font-bold;
  }
  .link {
    @apply text-lg text-dark;
  }
  .section {
    @apply py-8 lg:py-[142px];
  }
  .btn {
    @apply rounded-lg transition flex justify-center items-center;
  }
  .btn-lg {
    @apply h-[75px] px-6 text-2xl font-normal;
  }
  .btn-md {
    @apply h-[60px] px-[16px] text-lg font-normal;
  }
  .btn-sm {
    @apply h-[48px] px-[16px] text-lg font-normal;
  }
  .btn-accent {
    @apply text-white bg-accent hover:bg-accentHover;
  }
  .btn-white {
    @apply text-accent bg-white hover:bg-white/90;
  }
  .btn-outline {
    @apply bg-transparent text-accent border border-accent hover:bg-accent hover:text-white;
  }
  .btn-link {
    @apply text-accent text-xl lg:text-2xl;
  }
}

.me {
  /* border-bottom-style: ; */
  /* border-bottom-right-radius: 8%; */
}
